.c-popup {
  animation: fade-in .3s ease;
  background: $dark-transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  @include res(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__inner {
    position: absolute;
    top: 18%;
    bottom: 0;
    width: 100%;
    background: $white;
    max-width: 100%;
    max-height: 95%;
    overflow-y: auto;
    @include res(tablet) {
      animation: popup-zoom-in .3s ease;
      //top: 50%;
      //left: 50%;
      position: relative;
      top: initial;
      bottom: initial;
      width: 560px;
    }

    &--follow {
      padding: 70px 20px 30px;
      @include res(desktop) {
        padding: 80px 30px 50px;
      }
    }
  }

  &__close {
    position: absolute;
    right: 12px;
    top: 12px;
  }

  &__h1 {
    font-family: $eina01-semibold;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
  }

  &__p {
    margin: 30px 0 0;
    font-size: 15px;
    line-height: 24px;
    @include res(desktop) {
      margin: 22px 0 0;
    }
  }

  &__input {
    width: 100%;
    border: solid 1px $gray-border;
    font-size: 14px;
    line-height: 22px;
    border-radius: 3px;
    margin: 30px 0 0;
    padding: 10px 13px;
    @include res(desktop) {
      margin: 22px 0 0;
    }

    &--error {
      border-color: $red;
    }
  }

  &__btn {
    margin-top: 30px;
    float: right;
    @include res(desktop) {
      margin-top: 25px;
    }
  }
}

.body--popup {
  overflow: hidden;
}
