// Helvetica Neue
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Helvetica-Neue-45-Light.woff2') format('woff2'),
  url('../fonts/Helvetica-Neue-45-Light.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Helvetica-Neue-55-Roman.woff2') format('woff2'),
  url('../fonts/Helvetica-Neue-55-Roman.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Helvetica-Neue-56-Italic.woff2') format('woff2'),
  url('../fonts/Helvetica-Neue-56-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Helvetica-Neue-Bold.woff2') format('woff2'),
  url('../fonts/Helvetica-Neue-Bold.woff') format('woff');
}

// Eina01 SemiBold
@font-face {
  font-family: 'Eina01 SemiBold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Eina01-SemiBold.woff2') format('woff2');
}
