<div id="js-popup-follow" class="c-popup" style="display: none">
  <section id="js-popup-follow-inner" class="c-popup__inner c-popup__inner--follow">
    <button class="c-burger c-burger--close c-popup__close js-popup-follow-close">
      <span class="c-burger__line"></span>
    </button>
    <div id="js-follow-form">
      <div class="c-popup__h1">Be the first to discover new opportunities in Wealth Management</div>

      <p class="c-popup__p">Emails are sent maximum once a week. You can <u>unsubscribe in one click</u> and your email
        address
        will <u>never be shared</u>. See our <a href="#">Privacy Policy</a>.</p>

      <input class="c-popup__input" type="email" placeholder="Your email">

      <button id="js-follow-submit" type="submit" class="c-btn c-popup__btn"><span class="c-btn__text">Follow Wealth Management</span>
      </button>
    </div>
    <div id="js-follow-success" style="display: none">
      <div class="c-popup__h1">Welcome &#x1F389;</div>
      <p class="c-popup__p">Please confirm your subscription by clicking the link we just sent you.</p>
      <button type="submit" class="c-btn c-popup__btn js-popup-follow-close"><span class="c-btn__text">Done</span>
      </button>
    </div>

  </section>
</div>
