<div id="js-popup-info" class="c-popup" style="display: none">
  <div id="js-popup-info-inner" class="c-popup__inner">
    <a class="c-popup__close" href="#"><img src="assets/img/icon-close.png" alt=""></a>

    <div class="c-popup__slider">

      <div>
        <section class="c-popup__slide">
          <div class="c-popup__left c-popup__left--info"><img src="assets/img/popup-product.png" alt=""></div>
          <div class="c-popup__right c-popup__right--info">
            <h1 class="c-popup__h1"><b>Spectra</b><br>
              9 Plus Advanced Portable Breast Pump by Spectra Baby USA</h1>

            <h3 class="c-popup__h3">Spectra 9 Plus Advanced Breast Pump with Rechargeable Battery</h3>

            <p class="c-popup__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non dapibus sapien. Nam
              sollicitudin arcu lectus, at lacinia mi lobortis et. Praesent ut nunc a nisi accumsan vestibulum. Ut
              consequat
              efficitur ante, tristique tempor orci semper sed. Ficitudin arcu lectus, at lacinia mi lobortis et.
              Praesent
              ut
              nunc a nisi accumsan vestibulum. Ut consequat efficitur ante, tristique tempor orci semper sed.</p>

            <ul class="c-popup__ul">
              <li class="c-popup__li">Double Electric Pump</li>
              <li class="c-popup__li">Adjustable Speed/Vacuum</li>
              <li class="c-popup__li">2-Phase Expression Technology</li>
            </ul>
            <button type="submit" class="c-btn c-btn--order"><span class="c-btn__text">Add to Cart</span></button>
          </div>
        </section>
      </div>

      <div>
        <section class="c-popup__slide">
          <div class="c-popup__left c-popup__left--info"><img src="assets/img/popup-product.png" alt=""></div>
          <div class="c-popup__right c-popup__right--info">
            <h1 class="c-popup__h1"><b>Spectra 2</b><br>
              9 Plus Advanced Portable Breast Pump by Spectra Baby USA</h1>

            <h3 class="c-popup__h3">Spectra 9 Plus Advanced Breast Pump with Rechargeable Battery</h3>

            <p class="c-popup__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non dapibus sapien. Nam
              sollicitudin arcu lectus, at lacinia mi lobortis et. Praesent ut nunc a nisi accumsan vestibulum. Ut
              consequat
              efficitur ante, tristique tempor orci semper sed. Ficitudin arcu lectus, at lacinia mi lobortis et.
              Praesent
              ut
              nunc a nisi accumsan vestibulum. Ut consequat efficitur ante, tristique tempor orci semper sed.</p>

            <ul class="c-popup__ul">
              <li class="c-popup__li">Double Electric Pump</li>
              <li class="c-popup__li">Adjustable Speed/Vacuum</li>
              <li class="c-popup__li">2-Phase Expression Technology</li>
            </ul>
            <button type="submit" class="c-btn c-btn--order"><span class="c-btn__text">Add to Cart</span></button>
          </div>
        </section>
      </div>

      <div>
        <section class="c-popup__slide">
          <div class="c-popup__left c-popup__left--info"><img src="assets/img/popup-product.png" alt=""></div>
          <div class="c-popup__right c-popup__right--info">
            <h1 class="c-popup__h1"><b>Spectra 3</b><br>
              9 Plus Advanced Portable Breast Pump by Spectra Baby USA</h1>

            <h3 class="c-popup__h3">Spectra 9 Plus Advanced Breast Pump with Rechargeable Battery</h3>

            <p class="c-popup__p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem consectetur cumque
              dolorem doloribus ducimus eligendi exercitationem fuga iste labore, laboriosam mollitia nihil optio
              possimus provident reiciendis similique suscipit, ullam! Ab asperiores consectetur dolor doloribus eos
              exercitationem explicabo impedit ipsam, laborum laudantium necessitatibus obcaecati quasi sequi ullam
              voluptates? Asperiores facere ipsam iure quas reprehenderit similique sit temporibus? Aliquid dicta
              dignissimos dolorem, dolores doloribus, dolorum error eveniet ex facere hic in inventore iste iusto labore
              laudantium magnam magni maiores odio provident quod recusandae sapiente tempora tempore vel vero, vitae
              voluptatibus? A culpa deleniti facere illum obcaecati optio provident reprehenderit repudiandae, sit!</p>

            <ul class="c-popup__ul">
              <li class="c-popup__li">Double Electric Pump</li>
              <li class="c-popup__li">Adjustable Speed/Vacuum</li>
              <li class="c-popup__li">2-Phase Expression Technology</li>
            </ul>
            <button type="submit" class="c-btn c-btn--order"><span class="c-btn__text">Add to Cart</span></button>
          </div>
        </section>
      </div>

      <div>
        <section class="c-popup__slide">
          <div class="c-popup__left c-popup__left--info"><img src="assets/img/popup-product.png" alt=""></div>
          <div class="c-popup__right c-popup__right--info">
            <h1 class="c-popup__h1"><b>Spectra 4</b><br>
              9 Plus Advanced Portable Breast Pump by Spectra Baby USA</h1>

            <h3 class="c-popup__h3">Spectra 9 Plus Advanced Breast Pump with Rechargeable Battery</h3>

            <p class="c-popup__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non dapibus sapien. Nam
              sollicitudin arcu lectus, at lacinia mi lobortis et. Praesent ut nunc a nisi accumsan vestibulum. Ut
              consequat
              efficitur ante, tristique tempor orci semper sed. Ficitudin arcu lectus, at lacinia mi lobortis et.
              Praesent
              ut
              nunc a nisi accumsan vestibulum. Ut consequat efficitur ante, tristique tempor orci semper sed.</p>

            <ul class="c-popup__ul">
              <li class="c-popup__li">Double Electric Pump</li>
              <li class="c-popup__li">Adjustable Speed/Vacuum</li>
              <li class="c-popup__li">2-Phase Expression Technology</li>
            </ul>
            <button type="submit" class="c-btn c-btn--order"><span class="c-btn__text">Add to Cart</span></button>
          </div>
        </section>
      </div>

      <div>
        <section class="c-popup__slide">
          <div class="c-popup__left c-popup__left--info"><img src="assets/img/popup-product.png" alt=""></div>
          <div class="c-popup__right c-popup__right--info">
            <h1 class="c-popup__h1"><b>Spectra 5</b><br>
              9 Plus Advanced Portable Breast Pump by Spectra Baby USA</h1>

            <h3 class="c-popup__h3">Spectra 9 Plus Advanced Breast Pump with Rechargeable Battery</h3>

            <p class="c-popup__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non dapibus sapien. Nam
              sollicitudin arcu lectus, at lacinia mi lobortis et. Praesent ut nunc a nisi accumsan vestibulum. Ut
              consequat
              efficitur ante, tristique tempor orci semper sed. Ficitudin arcu lectus, at lacinia mi lobortis et.
              Praesent
              ut
              nunc a nisi accumsan vestibulum. Ut consequat efficitur ante, tristique tempor orci semper sed.</p>

            <ul class="c-popup__ul">
              <li class="c-popup__li">Double Electric Pump</li>
              <li class="c-popup__li">Adjustable Speed/Vacuum</li>
              <li class="c-popup__li">2-Phase Expression Technology</li>
            </ul>
            <button type="submit" class="c-btn c-btn--order"><span class="c-btn__text">Add to Cart</span></button>
          </div>
        </section>
      </div>

      <div>
        <section class="c-popup__slide">
          <div class="c-popup__left c-popup__left--info"><img src="assets/img/popup-product.png" alt=""></div>
          <div class="c-popup__right c-popup__right--info">
            <h1 class="c-popup__h1"><b>Spectra 6</b><br>
              9 Plus Advanced Portable Breast Pump by Spectra Baby USA</h1>

            <h3 class="c-popup__h3">Spectra 9 Plus Advanced Breast Pump with Rechargeable Battery</h3>

            <p class="c-popup__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non dapibus sapien. Nam
              sollicitudin arcu lectus, at lacinia mi lobortis et. Praesent ut nunc a nisi accumsan vestibulum. Ut
              consequat
              efficitur ante, tristique tempor orci semper sed. Ficitudin arcu lectus, at lacinia mi lobortis et.
              Praesent
              ut
              nunc a nisi accumsan vestibulum. Ut consequat efficitur ante, tristique tempor orci semper sed.</p>

            <ul class="c-popup__ul">
              <li class="c-popup__li">Double Electric Pump</li>
              <li class="c-popup__li">Adjustable Speed/Vacuum</li>
              <li class="c-popup__li">2-Phase Expression Technology</li>
            </ul>
            <button type="submit" class="c-btn c-btn--order"><span class="c-btn__text">Add to Cart</span></button>
          </div>
        </section>
      </div>

      <div>
        <section class="c-popup__slide">
          <div class="c-popup__left c-popup__left--info"><img src="assets/img/popup-product.png" alt=""></div>
          <div class="c-popup__right c-popup__right--info">
            <h1 class="c-popup__h1"><b>Spectra 7</b><br>
              9 Plus Advanced Portable Breast Pump by Spectra Baby USA</h1>

            <h3 class="c-popup__h3">Spectra 9 Plus Advanced Breast Pump with Rechargeable Battery</h3>

            <p class="c-popup__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non dapibus sapien. Nam
              sollicitudin arcu lectus, at lacinia mi lobortis et. Praesent ut nunc a nisi accumsan vestibulum. Ut
              consequat
              efficitur ante, tristique tempor orci semper sed. Ficitudin arcu lectus, at lacinia mi lobortis et.
              Praesent
              ut
              nunc a nisi accumsan vestibulum. Ut consequat efficitur ante, tristique tempor orci semper sed.</p>

            <ul class="c-popup__ul">
              <li class="c-popup__li">Double Electric Pump</li>
              <li class="c-popup__li">Adjustable Speed/Vacuum</li>
              <li class="c-popup__li">2-Phase Expression Technology</li>
            </ul>
            <button type="submit" class="c-btn c-btn--order"><span class="c-btn__text">Add to Cart</span></button>
          </div>
        </section>
      </div>

      <div>
        <section class="c-popup__slide">
          <div class="c-popup__left c-popup__left--info"><img src="assets/img/popup-product.png" alt=""></div>
          <div class="c-popup__right c-popup__right--info">
            <h1 class="c-popup__h1"><b>Spectra 8</b><br>
              9 Plus Advanced Portable Breast Pump by Spectra Baby USA</h1>

            <h3 class="c-popup__h3">Spectra 9 Plus Advanced Breast Pump with Rechargeable Battery</h3>

            <p class="c-popup__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non dapibus sapien. Nam
              sollicitudin arcu lectus, at lacinia mi lobortis et. Praesent ut nunc a nisi accumsan vestibulum. Ut
              consequat
              efficitur ante, tristique tempor orci semper sed. Ficitudin arcu lectus, at lacinia mi lobortis et.
              Praesent
              ut
              nunc a nisi accumsan vestibulum. Ut consequat efficitur ante, tristique tempor orci semper sed.</p>

            <ul class="c-popup__ul">
              <li class="c-popup__li">Double Electric Pump</li>
              <li class="c-popup__li">Adjustable Speed/Vacuum</li>
              <li class="c-popup__li">2-Phase Expression Technology</li>
            </ul>
            <button type="submit" class="c-btn c-btn--order"><span class="c-btn__text">Add to Cart</span></button>
          </div>
        </section>
      </div>

    </div>
  </div>
</div>
{% include 'components/_c-svg-arrows.html' %}
