<div id="js-popup-choose" class="c-popup" style="display: none">
  <section id="js-popup-choose-inner" class="c-popup__inner c-popup__inner--choose">
    <a id="js-popup-choose-close" class="c-popup__close" href="#"><img src="assets/img/icon-close.png" alt=""></a>

    <div class="c-popup__left"><img src="assets/img/popup-img.jpg" alt=""></div>
    <div class="c-popup__right">
      <h1 class="c-popup__h1">How do I choose which breast pump is right for me?</h1>

      <p class="c-popup__p">All women have different wants & needs when it comes to breast pumps. At Edgepark, wework
        hard to provide a
        range of products that suit every woman’s needs.</p>

      <p class="c-popup__p">Enter your email address below to receive a list of your pump options & a <b>FREE
        downloadable comparison guide</b> to
        help you choose the pump that’s right for you!</p>

      <h2 class="c-popup__h2">Get my pump option list</h2>

      <label class="c-order-form__label">Your Email Address *</label>
      <input class="c-banner__input" type="text">

      <input class="c-checkbox" type="checkbox" id="checkbox-n2" name="checkbox">
      <label class="c-checkbox-label" for="checkbox-n2"></label>

      <p class="c-order-form__right-p">By clicking “Submit”, I agree by electronic signature that: (1) I understand
        that consent is not required to make a purchase; and (2) my information will be used as described on this page
        and in the Edgepark’s Website <a href="#">Privacy Policy</a>.</p>

      <button type="submit" class="c-btn c-btn--order"><span class="c-btn__text">Submit</span></button>
    </div>

  </section>
</div>
