  <div class="c-slider">
    <div class="c-slider__slide">
      <div class="c-product-card">
        <img class="c-product-card__img" src="assets/img/product.jpg" alt="Ameda Finesse Double Electric Breast Pump">

        <a href="#" class="c-product-card__title">Ameda Finesse Double Electric Breast Pump</a>

        <div class="c-product-card__text">Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere
          blandit. Donec sollicitudin
          molestie.
        </div>
        <ul class="c-product-card__list">
          <li class="c-product-card__li">Double Electric Pump</li>
          <li class="c-product-card__li">Adjustable Speed/Vacuum</li>
          <li class="c-product-card__li">2-Phase Expression Technology</li>
        </ul>
      </div>
    </div>
    <div class="c-slider__slide">
      <div class="c-product-card">
        <img class="c-product-card__img" src="assets/img/product.jpg" alt="Ameda Finesse Double Electric Breast Pump">

        <a href="#" class="c-product-card__title">Ameda Finesse Double Electric Breast Pump</a>

        <div class="c-product-card__text">Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere
          blandit. Donec sollicitudin
          molestie.
        </div>
        <ul class="c-product-card__list">
          <li class="c-product-card__li">Double Electric Pump</li>
          <li class="c-product-card__li">Adjustable Speed/Vacuum</li>
          <li class="c-product-card__li">2-Phase Expression Technology</li>
        </ul>
      </div>
    </div>
    <div class="c-slider__slide">
      <div class="c-product-card">
        <img class="c-product-card__img" src="assets/img/product.jpg" alt="Ameda Finesse Double Electric Breast Pump">

        <a href="#" class="c-product-card__title">Ameda Finesse Double Electric Breast Pump</a>

        <div class="c-product-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus
          dolore ipsum magni odit. Aliquam atque distinctio dolore explicabo impedit, magnam officiis pariatur quisquam
          reprehenderit rerum sapiente tenetur vel voluptate.
        </div>
        <ul class="c-product-card__list">
          <li class="c-product-card__li">Double Electric Pump</li>
          <li class="c-product-card__li">Adjustable Speed/Vacuum</li>
          <li class="c-product-card__li">2-Phase Expression Technology</li>
        </ul>
      </div>
    </div>
    <div class="c-slider__slide">
      <div class="c-product-card">
        <img class="c-product-card__img" src="assets/img/product.jpg" alt="Ameda Finesse Double Electric Breast Pump">

        <a href="#" class="c-product-card__title">Ameda Finesse Double Electric Breast Pump</a>

        <div class="c-product-card__text">Donec rutrum congue leo eget malesuada. Curabitur aliquet quam id dui posuere
          blandit. Donec sollicitudin
          molestie.
        </div>
        <ul class="c-product-card__list">
          <li class="c-product-card__li">Double Electric Pump</li>
          <li class="c-product-card__li">Adjustable Speed/Vacuum</li>
          <li class="c-product-card__li">2-Phase Expression Technology</li>
        </ul>
      </div>
    </div>
    <div class="c-slider__slide c-slider__slide">
      <div class="c-product-card c-product-card--last">
        <div class="c-product-card__all">
          <div>
            <img class="c-product-card__all-pic" src="assets/img/all-products.png" alt="View All Available Products">
            <a href="#" class="c-product-card__all-a">View All Available Products <img class="c-product-card__all-arrow"
                                                                                       src="assets/img/icon-link-arrow.png"
                                                                                       alt="View All Available Products"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'components/_c-svg-arrows.html' %}
