.c-btn {
  background: $light-green;
  border: 0;
  border-radius: 7px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.45em;
  margin: 0 auto;
  outline: none;
  overflow: hidden;
  padding: 22px 50px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: normal;


  &__text {
    position: relative;
  }
}
