.c-btn {
  background: $black;
  border: 0;
  border-radius: 7px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.45em;
  margin: 0 auto;
  outline: none;
  overflow: hidden;
  padding: 22px 50px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: auto;

  &::after {
    background: lighten($black, 10%);
    content: '';
    height: 100%;
    left: -10%;
    margin: 0 auto;
    position: absolute;
    right: -10%;
    top: 0;
    transform: skew(25deg);
    transition: width .2s ease-in-out;
    width: 0;
  }

  &:hover {
    @include res(desktop) {
      &::after {
        width: 120%;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
  }

  &--products {
    padding: 18px 69px;
  }
}
