<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="format-detection" content="telephone=no">
  <title>WhatToBuildNext</title>
  <meta name="description"
        content="Understand Markets and Discover What To Build Next">
  <meta name="keywords" content="">

  <meta property="og:title" content="WhatToBuildNext">
  <meta property="og:description"
        content="Understand Markets and Discover What To Build Next">
  <meta property="og:image" content="assets/img/product.jpg">

  <link rel="stylesheet" href="assets/css/app.min.css">
</head>
<body>
<!-- Header -->
{% include 'compositions/_header.html' %}
{% block content %}{% endblock %}
<!-- Footer -->
{% include 'compositions/_footer.html' %}
<!-- SVG Icons -->
{% include 'components/_c-svg-icons.html' %}
<script src="assets/js/app.min.js"></script>
</body>
</html>
