// colors
$black: #000;
$white: #fff;
$red: #f00;
$blue: #000a93;
$blue-header: #0027ff;
$blue-header-active: #8088ff;
$light-blue: #01f;
$green: #008b06;
$light-green: #14c21c;
$yellow: #f8e71c;
$purple: #5f00b2;
$gray: #9b9b9b;
$dark-gray: #4a4a4a;
$black-transparent: rgba(0, 0, 0, .23);
$dark-transparent: rgba(0, 0, 0, .7);
$white-transparent-40: rgba(255, 255, 255, .4);
$white-transparent-70: rgba(255, 255, 255, .7);
$gray-border: #d8d8d8;
$gray-border2: #e7e7e7;
$gray-border3: #ccc;
$gray-quote: #666;
$light-gray: #f0f0f5;

// icons
$twitter: #00b2ff;
$linkedin: #0075ff;
$reddit: #ff4800;
$facebook: #004fdc;

// fonts
$default-font-color: #000;
$default-font-size: 16px;
$helvetica-neue: 'Helvetica Neue', sans-serif;
$eina01-semibold: 'Eina01 SemiBold', sans-serif;
