{% extends 'templates/_default.html' %}
{% block content %}

<!-- frontpage -->
<div class="c-content c-typography">
  <section class="c-content__post">
    <h1>About</h1>

    <p>There is an enormous amount of content analyzing markets, technologies and startups. But we missed a reference
      point for both the <u>current state</u> of a market and <u>what to build next</u>.</p>
  </section>

  <article class="c-article">
    <h2>
      <div class="c-article__control">
        <a class="c-icon-link" href="#">
          <svg class="c-icon c-icon--black" width="24px" height="24px">
            <use xlink:href="#svg-info"></use>
          </svg>
        </a>
        <a class="c-icon-link" href="#">
          <svg class="c-icon c-icon--black" width="24px" height="24px">
            <use xlink:href="#svg-pencil"></use>
          </svg>
        </a>
      </div>
      Continuous Learners
    </h2>

    <p>Topics are maintained by contributors who take special interest in their topics. We strive for complete yet
      concise
      content. But… we’re well aware of the impossibility of knowing all. We’re well aware of the <a href="#">Dunning-Kruger
        effect</a> (Mt. Stupid) so as an antidote, each section features a button which allows for suggestions. We think
      allowing Wikipedia-style direct edits for everyone is impractical. If you’re interested in becoming a contributor,
      send us a message.</p>

    <blockquote>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
      adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec
      odio
      et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci
      eget eros faucibus tincidunt.
    </blockquote>
  </article>

</div>

{% endblock %}
