{% extends 'templates/_default.html' %}
{% block content %}

<!-- frontpage -->
<div class="c-post">
  <div class="c-post__pic">
    <img class="c-post__img" src="assets/img/post-1.jpg" alt="What to Build Next in Wealth Management">
    <div class="c-post__time">
      <svg class="c-icon c-post__svg" width="10px" height="16px">
        <use xlink:href="#svg-lightning"></use>
      </svg>
      2 hours ago</div>
  </div>

  <div class="c-post__title">What to Build Next in Wealth Management</div>
  <div class="c-post__about">Millions of millenials are about to receive their babyboomer parent’s inheritences. What
    products should we build for this market?
  </div>
</div>

{% endblock %}
