{% extends 'templates/_default.html' %}
{% block content %}

<!-- frontpage -->
<section class="c-posts">
  <div class="c-posts__post">
    <div class="c-posts__pic">
      <img class="c-posts__img" src="assets/img/post-1.jpg" alt="What to Build Next in Wealth Management">

      <div class="c-posts__time c-posts__time--blue">
        <svg class="c-icon c-icon--lightning c-posts__svg" width="10px" height="16px">
          <use xlink:href="#svg-lightning"></use>
        </svg>
        2 hours ago
      </div>
    </div>

    <div class="c-posts__title">What to Build Next in Wealth Management</div>
    <div class="c-posts__about">Millions of millenials are about to receive their babyboomer parent’s inheritences. What
      products should we build for this market?
    </div>
  </div>

  <div class="c-posts__post">
    <div class="c-posts__pic">
      <img class="c-posts__img" src="assets/img/post-2.jpg" alt="What to Build Next in Wealth Management">

      <div class="c-posts__time c-posts__time--blue">
        <svg class="c-icon c-icon--lightning c-posts__svg" width="10px" height="16px">
          <use xlink:href="#svg-lightning"></use>
        </svg>
        7 hours ago
      </div>
    </div>

    <div class="c-posts__title">What to Build Next in Work Productivity</div>
    <div class="c-posts__about">Slack is a success but email is far from dead. Billions of people are waiting for the
      next big improvement. What should we build to improve work productivity?
    </div>
  </div>

  <div class="c-posts__post">
    <div class="c-posts__pic">
      <img class="c-posts__img" src="assets/img/post-3.jpg" alt="What to Build Next in Wealth Management">

      <div class="c-posts__time">Coming soon</div>
    </div>

    <div class="c-posts__title">What to Build Next in Commercial Real Estate</div>
    <div class="c-posts__about">Customers in restaurants, entertainment venues, local service providers, and office
      buildings have changed — the buildings have not. What to build next in CRE?
    </div>
  </div>

  <div class="c-posts__post">
    <div class="c-posts__pic">
      <img class="c-posts__img" src="assets/img/post-4.jpg" alt="What to Build Next in Wealth Management">

      <div class="c-posts__time">Coming soon</div>
    </div>

    <div class="c-posts__title">What to Build Next in Preventative Healthcare</div>
    <div class="c-posts__about">Slack is a success but email is far from dead. Billions of people are waiting for the
      next big improvement. What should we build to improve work productivity?
    </div>
  </div>

  <div class="c-posts__post">
    <div class="c-posts__pic">
      <img class="c-posts__img" src="assets/img/post-1.jpg" alt="What to Build Next in Wealth Management">

      <div class="c-posts__time c-posts__time--blue">
        <svg class="c-icon c-icon--lightning c-posts__svg" width="10px" height="16px">
          <use xlink:href="#svg-lightning"></use>
        </svg>
        2 hours ago
      </div>
    </div>

    <div class="c-posts__title">What to Build Next in Wealth Management</div>
    <div class="c-posts__about">Millions of millenials are about to receive their babyboomer parent’s inheritences. What
      products should we build for this market?
    </div>
  </div>

  <div class="c-posts__post">
    <div class="c-posts__pic">
      <img class="c-posts__img" src="assets/img/post-2.jpg" alt="What to Build Next in Wealth Management">

      <div class="c-posts__time c-posts__time--blue">
        <svg class="c-icon c-icon--lightning c-posts__svg" width="10px" height="16px">
          <use xlink:href="#svg-lightning"></use>
        </svg>
        7 hours ago
      </div>
    </div>

    <div class="c-posts__title">What to Build Next in Work Productivity</div>
    <div class="c-posts__about">Slack is a success but email is far from dead. Billions of people are waiting for the
      next big improvement. What should we build to improve work productivity?
    </div>
  </div>
</section>

{% endblock %}
