{% extends 'templates/_default.html' %}
{% block content %}

<aside></aside>

<!-- frontpage -->
<div class="c-content">
  <div class="c-content__aside">
  <section class="c-content__post">
    <h1>What to Build Next in Wealth Management</h1>

    <p>In the next ten years, heaps of wealth are going to move on to the next generation. Millions of millenials are
      going to receive their babyboomer parents’ inheritences. Or sell their startups. Or crypto.</p>

    <p>Either way, just like their parents they will be looking to manage that wealth. Their expectations are going to
      be different, though. What products should we build for this market?</p>
  </section>

  <article class="c-article">
    <h2>
      <span class="c-article__control">
        <a class="c-icon-link" href="#">
          <svg class="c-icon c-icon--black" width="24px" height="24px">
            <use xlink:href="#svg-info"></use>
          </svg>
        </a>
        <a class="c-icon-link" href="#">
          <svg class="c-icon c-icon--black" width="24px" height="24px">
            <use xlink:href="#svg-pencil"></use>
          </svg>
        </a>
      </span>
      Trends
    </h2>
    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
      neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
      tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros
      faucibus tincidunt.</p>
    <iframe width="629" height="353" src="https://www.youtube.com/embed/z7T54yHB1_A?rel=0" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
      neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
      tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros
      faucibus tincidunt.</p>

    <h3>Machine Learning</h3>

    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
      neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
      tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros
      faucibus tincidunt.</p>

    <h3>Automation</h3>

    <p>Etiam rhoncus. <a href="#">Maecenas tempus</a>, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
      adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec
      odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet
      orci eget eros faucibus tincidunt.</p>

    <h2>What Has Been Built</h2>

    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem.</p>

    <div>
      <a class="c-icon-link" href="#">Betterment
        <svg class="c-icon c-icon--black" width="10px" height="10px">
          <use xlink:href="#svg-external-link"></use>
        </svg>
      </a>

      <div>Digital Wealth Manager with 300,000 clients and $11 billion in assets under management</div>
    </div>
    <div>
      <a class="c-icon-link" href="#">Betterment
        <svg class="c-icon c-icon--black" width="10px" height="10px">
          <use xlink:href="#svg-external-link"></use>
        </svg>
      </a>

      <div>Digital Wealth Manager with 300,000 clients and $11 billion in assets under management</div>
    </div>
    <div>
      <a class="c-icon-link" href="#">Wealthfront
        <svg class="c-icon c-icon--black" width="10px" height="10px">
          <use xlink:href="#svg-external-link"></use>
        </svg>
      </a>

      <div>Digital Wealth Manager with 300,000 clients and $11 billion in assets under management</div>
    </div>
    <div>
      <a class="c-icon-link" href="#">Wealthfront
        <svg class="c-icon c-icon--black" width="10px" height="10px">
          <use xlink:href="#svg-external-link"></use>
        </svg>
      </a>

      <div>Digital Wealth Manager with 300,000 clients and $11 billion in assets under management</div>
    </div>
    <div>
      <a class="c-icon-link" href="#">Mint
        <svg class="c-icon c-icon--black" width="10px" height="10px">
          <use xlink:href="#svg-external-link"></use>
        </svg>
      </a>

      <div>Digital Wealth Manager with 300,000 clients and $11 billion in assets under management</div>
    </div>
    <div>
      <a class="c-icon-link" href="#">Mint
        <svg class="c-icon c-icon--black" width="10px" height="10px">
          <use xlink:href="#svg-external-link"></use>
        </svg>
      </a>

      <div>Digital Wealth Manager with 300,000 clients and $11 billion in assets under management</div>
    </div>

    <h2>What To Build Next</h2>

    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
      neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
      tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros
      faucibus tincidunt.</p>

    <h3>White Label Systems</h3>

    <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
      neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
      tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros
      faucibus tincidunt.</p>

    <h3>Automation</h3>

    <p>Etiam rhoncus. <a href="#">Maecenas tempus</a>, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
      adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec
      odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet
      orci eget eros faucibus tincidunt.</p>

    <h2>Contributors</h2>

    <p>Warm and special thanks to the contributors for providing their expertise. Without them this document would not
      have been possible.</p>

    <div>
      <img src="assets/img/profile.png" alt="">
      Marc Fencton
      Fintech analyst Citi Bank
      <a class="c-icon-link" href="#">
        <svg class="c-icon c-icon--black" width="24px" height="23px">
          <use xlink:href="#svg-github"></use>
        </svg>
      </a>
      <a class="c-icon-link" href="#">
        <svg class="c-icon c-icon--twitter" width="24px" height="20px">
          <use xlink:href="#svg-twitter"></use>
        </svg>
      </a>
      <a class="c-icon-link" href="#">
        <svg class="c-icon c-icon--linkedin" width="24px" height="24px">
          <use xlink:href="#svg-linkedin"></use>
        </svg>
      </a>
    </div>

  </article>

</div>

{% endblock %}
